.header{
    display: flex;
    justify-content: space-between;
    padding: 2em;
    width: 100%;
    height: 8em;
    background: #141A27;
    text-align: center;
    align-items: center
}

.logo{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.match__profile{
    width: 2.5em;
    height: 2.5em;
    border-radius: 3em;
    margin-left: 3em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.match__add{
    width: 2.5em;
    height: 2.5em;
    border-radius: 3em;
    margin-right: 3em;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile__icon, .add__icon{width: 2em;height: 2em;}
.add__icon{transform: rotate(0deg);}
.close__icon{transform: rotate(45deg);}
