.search {
  width: 80%;
  margin-top: 2em;
  margin-bottom: 1em;
}

.search__player {
  width: 80%;
  height: 3em;
  background: #ffffff;
  border-radius: 4em;
  border: none;
  padding: 1em 2em 1em 2em;
  color: #171f2e;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
}

.search__btn {
  padding: 0.4em;
  width: 8%;
  margin: 0em 1em 0em 1em;
  padding: 1em 0em 1em 0em;
  text-align: center;
  color: #171f2e;
  background: #ffffff;
  border-radius: 4em;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
}

.clear__btn {
  padding: 0.4em;
  padding: 1em 0em 1em 0em;
  text-align: center;
  color: #171f2e;
  background: #ffffff;
  border-radius: 4em;
  font-family: "Inter";
  font-weight: 700;
  font-size: 1em;
  text-transform: uppercase;
  border: none;
}

.search__player::placeholder {
  opacity: 0.4;
  color: #171f2e;
}
@media only screen and (max-width: 800px) {
  .search {
    width: 100%;
    text-align: center;
  }
  .search__player {
    width: 90%;
    margin-bottom: 1em;
  }
  .search__btn {
    width: 35%;
  }
  .clear__btn {
    width: 20%;
  }
}
