:root {
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

a {
  text-decoration: inherit;
}

button {
  border: none;
  transition: border-color 0.3s;
  transition: opacity 0.3s;
}
button:hover {
  opacity: 0.85;
  color: #ffffff (0.2);
}
